body {
    background-color: #EAFEF3;
    font-family: 'Muli', sans-serif;
  }

h1 {
    font-family: 'Shrikhand', cursive;
    text-align: center;
}

ul li {
  list-style-type: none;

}

.grid-container {
  display: grid;
}