body {
    background-color: #EAFEF3;
    font-family: 'Muli', sans-serif;
  }

h1 {
    font-family: 'Shrikhand', cursive;
    text-align: center;
}


img {
  border: 1px solid black;
  height: 100px;
  opacity: .5;
  border-radius: 60%;
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

.grid-item li{
  list-style-type: none;
  text-align: center;
}

.grid-item ul {
  padding: 15px;
  background-color: 	#E8F1EC;
  border-radius: 12px;
  margin: 15px;
}